/* The main class surounds everything in the body  */
.main{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

/* Displays the results of a search or restraunt  */
.results{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;   
}

/* sets background and height */
.restaurantInfo{
    height:100%;
    background-color: azure;
}

/* Modifies items with the col class which are children of restrauntInfo class */
.restaurantInfo .col {
    width: 100%;
    height:auto ;
    font-size:2vw;
    background: azure;
    flex: 1;   
}

/* removes the scrollbar  */
::-webkit-scrollbar { 
    display: none; 
}

/* These apply to everything in the page, as it modifies the body */
body{
    margin: 0;
    font-family: 'Squada One', cursive;
    overflow-y: auto;
    
}

/* Makes the footer take up the whole width of the page and defines how ot display its contents */
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}
/* Displays items in the head bar of the page  */
.head{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 10vh;
    min-height: 5em;
    padding-left: 5vw;
    padding-right: 5vw;
    
}
/* Adds a hover effect to links with headL class */
.headL:hover{
    color: #1f9cff;
}
/* class for the black background color  */
.black{
    background: rgb(26, 25, 25);
}

/* class for the accent background color  */
.off-black{
    background: rgb(35, 47, 63);
}

/* White text color  */
.white{
    color: azure;
}

/* Aligns header content to the end of the header  */
.headerEnd{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
}

/* Displays all the items in the content div on hte page  */
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    min-height: 10em;
    overflow: auto;
}

/* Class for the popup overlays  */
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

/* For when the overlays is targeted  */
.overlay:target{
    visibility: visible;
    opacity: 1;
}


/* The design for the popup windows */
.popup{
    margin: 15vh auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 3px solid black;
    width: 13vw;
    min-width: 180px;
    max-width: 300px;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* Design for the close button  */
.popup .close{
    position: absolute;
    top: 1vh;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

/* increases the size of certin text  */
.title{
    font-size: 2em;
    padding-top: 1vh;
    padding-bottom: 2vh;
    font-weight: bold;
}

/* aligns information  */
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* styles for text in a popup box  */
.popupText{
    margin-bottom: 1em;
    width: 15vw;
    min-width: 100px;
    max-width: 150px;
    font-size: 0.2em;
}

/* placeholder text size in the popup  */
.popupText::placeholder{
    font-size: 0.8em;
}

/* class to slign the objects in the selector div  */
.selectors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

/* sizing and spacing for spacing objects  */
.instruction{
    
    font-size: 2vw;
    margin-top: 2rem;
}

/* streaches searchbox */
.search{
    width: 100%;
}

/* centers objects in div  */
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* adjusts the size of an option object  */
.option{
    width: 50%;
    height: 20vh;
}

/* sets the way description objects are displayed  */
.description{
    display: flex;
    flex-direction: column;
    margin: 0.3em;
}

/* adjusts the style of link objects  */
.link{
    font-size: 2em;
    color: black;
    text-decoration: none;
    padding-left: 1em;
}

/* adjusts the look and style of input objects  */
.input{
    border: 3px solid #1f9cff;
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
    font-size: 1rem;
}
/* pushes objects to tthe left of the container  */
.left{
    text-align: left;
}

/* makes an object take up the full width of a container  */
.fullWidth{
    width: 100%;
    font-size: 0.8rem;
}

/* sets the unicode object in the locate button  */
#locate:after{
    color: #1f9cff;
    content: '\f124';
    font-family: FontAwesome;
}

#locateSub:after{
    color: #1f9cff;
    content: '\f124';
    font-family: FontAwesome;
}


/* Adjusts the position of the radioselectors  */
.radioSelector{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    
}

/* hides the input inside the radioSelector div  */
.radioSelector input{
    display: none;
}

/* adjusts the styles of labels in radioselectors div  */
.radioSelector label{
    display: block;
    cursor: pointer;
    width: 2rem;
    
    

}

/* sets the style of the label before it is clicked  */
.radioSelector label:before{
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 2rem;
    color: azure;

}
/* sets the style after the label is clicked  */
.radioSelector label:after{
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 2rem;
    color: #1f9cff;
    bottom: 2rem;
    opacity: 0;
    
    

}
/* makes the after style be seen when a number of conditions happen  */
.radioSelector label:hover:after,
.radioSelector label:hover ~ label:after,
.radioSelector input:checked ~ label:after{
    opacity: 1;
}

/* These next before and after labels sets the content of the labels  */
.raiting label:before{
    content: '\f005';
}

.raiting label:after{
    content: '\f005';
}

.cost label:before{
    content: '\f155';
}

.cost label:after{
    content: '\f155';
}

/* adds spacing  */
.spacing{
    padding-top: 2rem;
}


/* odifies the search object  */
#search{
    border-radius: 3rem;
    font-size: 2rem;
    padding: 0.4rem;
}

/* These modify the popup submit buttons  */
#loginSubmit{
    border-radius: 3rem;
    font-size: 1.2rem;
}

#registerSubmit{
    border-radius: 3rem;
    font-size: 1.2rem;
}

#SubmitLoc{
    border-radius: 3rem;
    font-size: 1.2rem;
    margin-top: 0.5em;
}

/* Adjusts the sizing of the sidebar  */
.sidebar{
    
    width: 20vw;
    height: auto;
    top: 0;

}

/* sets positioning for the position objects  */
.position{
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

/* sets the positioning and overflow rules for the resultPage container  */
.resultPage{
    display:flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    overflow-y: auto;
    overflow-x:hidden;
}

/* sets sizing for the knownsearch object  */
#knownSearch{
    font-size:1rem;
    width: 75%;
    height:auto;
}
/* styles the result objects  */
.result{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border: 2px solid black;
    width: auto;
    height: auto;
    
}

/* sets sizing and background for the resultPicture object  */
.resultPicture{
    background-color: azure;
    height: auto;
    width: 25%;
}

/* sets height of pic object  */
.pic{
    height:auto;
    width: 300px;
}

/* sets sizing and positioning for infoBox objects  */
.infoBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

/* adjusts sizing and positioning for flex-grid-thirds objects  */
.flex-grid-thirds {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    text-decoration: none;
    background-color: transparent;
    color: black;
}


/* sets height and background for resultTable  */
.resultTable{
    height:100%;
    background-color: azure;
}

/* adjust col objects in flex-grid-thirds  */
.flex-grid-thirds .col {
    width: 100%;
    height:auto ;
    font-size:2vw;
    background: azure;
    flex: 1;   
}

/* adjusts the size of .text objects  */
.text{
    font-size:1rem;
    width: 80%;
    height:auto;
}

/* puts searchBar in the center  */
.searchBar{
    text-align: center;
}

#map{
    position: absolute;
    height: 450px;
    width: 100%;
    z-index: 10;
}


/* This section is used when the screen is 600px or smaller  */
@media only screen and (max-width: 600px){
    /* adjust overflow on the whole page  */
    html, body{
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        
    }
    
    /* sizing for the whole body  */
    body{
        position: fixed;
        background-color: rgb(35, 47, 63);
        margin-bottom: 10vh;
        width: 100%;
        
    }
    
    /* sets width of .head for the whole screen  */
    .head{
        width: 100%;
    }

    /* changes sizes and adds margin  */
    .headerEnd{
        
        padding-top: 1vh;
        margin-right: 25%;
    }
    /* adjusts spacing for smaller screen  */
    .spacing{
        padding-top: 0rem;
    }
    /* adjusts text size for smaller screen  */
    .instruction{
        font-size:1em;
        text-align: center;
    }

    /* changes flex direction  */
    .selectors{
        flex-direction: column;
    }

    /* changes width and height  */
    .option{
        width: 100%;
        height: auto;
    }
    /* adds margins to object  */
    .searchBar{
        margin-bottom: 10%;
    }

    /* this object is not displayed on mobile  */
    .sidebar{
        display: none;
    }

    /* adjusts height to properly fill space  */
    #search{
        height: auto;
    }

    /* centers text  */
    .center{
        text-align: center;
    }

    /* adjusts layout and height  */
    .results{
        flex-direction: column; 
        height: 100%;
        
    }

    /* does not display pictures  */
    .resultPicture{
        display: none;
    }

    /* sets size and spacing  */
    .resultPage{
        position: relative;
        width: 100%;
        height: 100vh;
        margin-bottom: 1em;
        overflow-y: scroll;
    }
    /* adjusts the size  */
    .result{
        width: 100%;
        height: auto;
    }

    /* sets height to max  */
    .infoBox{
        height: 100%;
    }
    
    /* sets font size for mobile  */
    .desc{
        font-size: 2em;
    }
    /* Sets height  */
    .col{
        height: auto;
        
    }

    /* sets the font size for all td items  */
    td{
        font-size: 2em;
    }

    /* items with desktop class are not shown on mobile  */
    .desktop{
        display: none;
    }

    /* adds padding for mobile  */
    .link{
        padding-right: 0.3em;
    }
    /* Adjusts sizing for footer  */
    footer{
        font-size: 0.7em;

    }
    /* makes font bigger  */
    .enlarge{
        font-size: 2em;
    }

    #map{
        width: 100%;
        height: 200px;
    }

    .main{
        height: 100%;
        overflow-y: scroll;
    }

}