.main{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.results{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    
    
}
::-webkit-scrollbar { 
    display: none; 
}

body{
    margin: 0;
    font-family: 'Squada One', cursive;
}

h1{
    display: inline-block;
}

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}



.head{

    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 10vh;
    min-height: 5em;
    padding-left: 5vw;
    padding-right: 5vw;
    
}

.headL:hover{
    color: #1f9cff;
}

.black{
    background: rgb(26, 25, 25);
}

.off-black{
    background: rgb(35, 47, 63);

}

.white{
    color: azure;
}

.headerEnd{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    min-height: 10em;
}

.overlay{
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.popup{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 20vw;;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.popup .close{
    position: absolute;
    top: 1vh;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.title{
    font-size: 2em;
    padding-top: 1vh;
    padding-bottom: 2vh;
    font-weight: bold;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popupText{
    margin-bottom: 1em;
}

.selectors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

.instruction{
    
    font-size: 2vw;
    margin-top: 2rem;
}

.search{
    

    width: 100%;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option{
    width: 50%;
    height: 20vh;
}

h2{
    margin: 0.3em;
}

.description{
    display: flex;
    flex-direction: column;
    margin: 0.3em;
}

.link{
    font-size: 2em;
    color: black;
    text-decoration: none;
    padding-left: 1em;
}

.input{
    border: 3px solid #1f9cff;
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	font-size: 1rem;
    
}

#locate:after{
    color: #1f9cff;
    content: '\f124';
    font-family: FontAwesome;
}



.radioSelector{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    
}

.radioSelector input{
    display: none;
}

.radioSelector label{
    display: block;
    cursor: pointer;
    width: 2rem;
    
    

}

.radioSelector label:before{
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 2rem;
    color: azure;

}

.radioSelector label:after{
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 2rem;
    color: #1f9cff;
    bottom: 2rem;
    opacity: 0;
    
    

}
.radioSelector label:hover:after,
.radioSelector label:hover ~ label:after,
.radioSelector input:checked ~ label:after{
    opacity: 1;
}

.raiting label:before{
    content: '\f005';
}

.raiting label:after{
    content: '\f005';
}

.cost label:before{
    content: '\f155';
}

.cost label:after{
    content: '\f155';
}

.spacing{
    padding-top: 2rem;
}


#search{
    border-radius: 3rem;
    font-size: 2rem;
    padding: 0.4rem;
}

.sidebar{
    width: 20vw;
    height: 100vh;
    top: 0;

}

.position{
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

.resultPage{
    display:flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    overflow-y: auto;
}
#knownSearch{
    font-size:1rem;
    width: 75%;
    height:auto;
}




.result{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border: 2px solid black;
    width: auto;
    height: auto;
}

.resultPicture{
    background-color: azure;
    height: auto;
    width: 25%;
    /* padding-left: 5vw; */
}

.pic{
    height:auto;
    width: 300px;
}

.infoBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.flex-grid-thirds {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.resultTable{
    height:100%;
    background-color: azure;
}

.flex-grid-thirds .col {
    width: 100%;
    height:auto ;
    font-size:2vw;
    background: azure;
    flex: 1;
    
}
.text{
    font-size:1rem;
    width: 80%;
    height:auto;
}


.searchBar{
    text-align: center;
}


@media only screen and (max-width: 600px){
    html, body{
        overflow-x: hidden;
        overflow-y: auto;
        
    }
    

    body{
        position: fixed;
        background-color: rgb(35, 47, 63);
        margin-bottom: 10vh;
        width: 100%;
        height: auto;
    }
    
    .head{
        width: 100%;
    }

    .headerEnd{
        
        padding-top: 1vh;
        margin-right: 25%;
    }
    .spacing{
        padding-top: 0rem;
    }

    .instruction{
        font-size:1em;
        text-align: center;
    }

    .selectors{
        flex-direction: column;
    }
    .option{
        width: 100%;
        height: auto;
    }

    .searchBar{
        margin-bottom: 10%;
    }

    .sidebar{
        display: none;
    }

    #search{
        height: auto;
    }

    .center{
        text-align: center;
    }

    .results{
        flex-direction: column;
        
        height: 90vh;
    }


    .resultPicture{
        display: none;
    }

    .resultPage{
        width: 100%;
        height: 90vh;
    }
    .result{
        width: 100%;
        height: auto;
    }

    .infoBox{
        height: 100%;
    }
    
    .desc{
        font-size: 2em;
    }

    .col{
        height: auto;
        
    }

    td{
        font-size: 2em;
    }

    .desktop{
        display: none;
    }

    .link{
        padding-right: 0.3em;
    }
    footer{
        font-size: 0.7em;

    }

    

    


}