.main{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

body{
    margin: 0;
}

h1{
    display: inline-block;
}

h2{
    display: inline-block;
}

.head{

    display: flex;
    flex-direction: row;
    background: orange;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 10vh;
    min-height: 5em;
    padding-left: 5vw;
    padding-right: 5vw;
    
}

.headerEnd{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 15vw;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: blue;
    height: 90vh;
    min-height: 10em;
}

.selectors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: yellow;
    width: 100%;
    height: auto;
}

.instruction{
    background-color:magenta;
    font-size: 2rem;
    margin-top: 2rem;
}

.search{
    
    background: greenyellow;
    width: 100%;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option{
    width: 50%;
    height: 20vh;
}

h2{
    margin: 0.3em;
}

.description{
    display: flex;
    flex-direction: column;
    margin: 0.3em;
}

.link{
    font-size: 2em;
    color: black;
    text-decoration: none;
}

.input{
    border: 3px solid #fcad26;
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	font-size: 1rem;
    
}

#locate:after{
    color: #fcad26;
    content: '\f124';
    font-family: FontAwesome;
}



.radioSelector{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.radioSelector input{
    display: none;
}

.radioSelector label{
    display: block;
    cursor: pointer;
    width: 2rem;
    background: yellow;
    

}

.radioSelector label:before{
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 2rem;
    color: #101010;

}

.radioSelector label:after{
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 2rem;
    color: #1f9cff;
    bottom: 2rem;
    opacity: 0;
    
    

}
.radioSelector label:hover:after,
.radioSelector label:hover ~ label:after,
.radioSelector input:checked ~ label:after{
    opacity: 1;
}

.raiting label:before{
    content: '\f005';
}

.raiting label:after{
    content: '\f005';
}

.cost label:before{
    content: '\f155';
}

.cost label:after{
    content: '\f155';
}

.spacing{
    padding-top: 2rem;
}

.sizeUp{
    font-size: 3rem;
}

#search{
    border-radius: 3rem;
    font-size: 2rem;
    padding: 0.4rem;
}

